# Supabase
VITE_SUPABASE_URL=https://iirkeucnqapkkevvhqpi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlpcmtldWNucWFwa2tldnZocXBpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk0MDYwMTEsImV4cCI6MjEwNDk4MjAxMX0.PjkeCO_AZx1-Y3Vt9H53rTPn_7lEXvoJT8Nuhelh7OQ

# Optional application settings
VITE_APP_NAME=Multi-Vendor Event Platform
VITE_APP_ENV=development
